# This is Git's per-user configuration file.
[core]
	# Treat spaces before tabs and all kinds of trailing whitespace as an error.
	# [default] trailing-space: looks for spaces at the end of a line
	# [default] space-before-tab: looks for spaces before tabs at the beginning of a line
	whitespace = space-before-tab,-indent-with-non-tab,trailing-space

[user]
# Please adapt and uncomment the following lines:
	name = Dimitri Belopopsky
	email = dimitri@belopopsky.com

# Per-platform settings
[includeIf "gitdir:/Users"]
    path = ~/.gitconfig-macos
[includeIf "gitdir:C:"]
    path = ~/.gitconfig-windows
[includeIf "gitdir:/home"]
    path = ~/.gitconfig-linux


[pull]
	rebase = true
[init]
	defaultBranch = main

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[delta]
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Monokai Extended
    navigate = true

[interactive]
    diffFilter = delta --color-only

[color]
	ui = auto

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[alias]
	praise = blame
	who = blame
	# Amend the currently staged files to the latest commit.
	amend = commit --amend --reuse-message=HEAD
  # Show path to git root
  root = rev-parse --show-toplevel

# Private work specific settings
# This file will give overrides where needed
[include]
	path = ~/.gitconfig-work
