# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Dimitri Belopopsky
	email = dimitri@belopopsky.com
[pull]
	rebase = true
[init]
	defaultBranch = main

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[delta]
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Monokai Extended
    navigate = true

[interactive]
    diffFilter = delta --color-only